<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.muteheadlight.dockredir"
      android:versionName="2.05" android:versionCode="205">
<uses-sdk android:targetSdkVersion="16" android:minSdkVersion="8"></uses-sdk>
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

     <application android:icon="@drawable/icon" android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name">
        <receiver android:name="net.muteheadlight.docksoundredir.dockSoundRedirect">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.CAR_DOCK" />
                <category android:name="android.intent.category.DESK_DOCK" />
                <category android:name="android.intent.category.LE_DESK_DOCK" />
                <category android:name="android.intent.category.HE_DESK_DOCK" />
                <action android:name="net.muteheadlight.docksoundredir.intent.action.REDIRECT" />
            </intent-filter>
        </receiver>
        <activity android:name="net.muteheadlight.docksoundredir.dsrListView">
            <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <service android:name="net.muteheadlight.docksoundredir.dockRedirRegisterer"></service>
    </application>
</manifest>
